


.SearchBar__Content .search-icon{
    top: 50%;
    right: 10px;
    transform: translateY(-50%)
}

.SearchBar__Content .search-icon:hover{
    color: rgb(128, 1, 255); 
    transition: 0.5 ease-in;   
}