@tailwind base;
@tailwind components;
@tailwind utilities;

/*Nhúng font opensans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: Regular;
  }
  
  @font-face{
    font-family: 'Gilroy';
    src: url('./assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: Regular;
  }
  
  @font-face{
    font-family: 'Missing-Love';
    src: url('./assets/fonts/Missing-Lovely-Regular.otf') format('truetype');
  }

    
  @font-face{
    font-family: 'Lexend';
    src: url('./assets/fonts/Lexend-VariableFont.ttf') format('truetype');


  }


  
  
.min-height-1000{
  min-height: 700px;
}

  /*class về font chữ*/
.text-poppins{
    font-family: 'Poppins';
  }
    
  .text-missing-love{
    font-family: 'Missing-Love';
  }
  
  .text-gilroy{
    font-family: 'Gilroy';
  }

.text-lexend{
  font-family: 'Lexend';
}

  

.primary-bg{
  background-color: #FF6F61   ;
}
.secondary-bg{
  background-color: #D9D0F8;
}



.text-red{
  color: #FF0909;
}

.text-gray{
  color: #777777;
}

.text-blue{
  color: #333333;
}

.text-orange{
  color: #FF6F61;
}

.secondaryBruh-bg{
  background-color: #FFCB77 ;
}


.over-hidden{
  overflow: hidden;
}

.middle{
  top:50%;
  transform: translateY(-50%);
  

}